* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
    background-color: whitesmoke;
}

/* Main */

.main-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.rules-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 5px;
    padding: 10px 20px;
    align-items: center;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    background-color: #d6d4e0;
}

.title {
    text-align: center;
    margin: 20% auto;
    font-size: 50px;
    background: linear-gradient(to bottom right, #654ea3, #eaafc8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.01em;
    -webkit-text-stroke-color: black;
}

.rules h2 {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 10%;
    font-size: 35px;
    background: linear-gradient(to bottom right, #654ea3, #eaafc8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.01em;
    -webkit-text-stroke-color: black;
}

.rules p {
    font-size: 20px;
}

.footer {
    position: absolute;
    bottom: 5%;
    font-size: 20px;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.score-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 5px;
    padding: 20px;
    text-align: center;
    width: 160px;
    height: 300px;
    border-radius: 30px;
    background-color: #d6d4e0;
    margin-top: 15%;
    font-size: 17px;
}

.current-guesses {
    margin: 40% auto;
}


/* Footer */

.footer {
    text-align: center;
    
}


/* Components */

.front {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    height: 199px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: none;
}

.back {
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    height: 199px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #AA076B, #61045F);
}

.back:hover {
    cursor: pointer;
}

.card .center {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    background: lightskyblue;
    border: 1px solid purple;
}

.btn {
    padding: 20px;
    background: linear-gradient(to bottom right, #654ea3, #eaafc8);
    color: white;
    box-shadow: 0px 5px #474747;
    border: 1px solid #474747;
    border-radius: 10px;
    font-size: 20px;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    border-bottom: 1px solid black;
    transform: translateY(7px);
    box-shadow: 0px 0px;
}